p.error{
    color: red;
}
p.success{
    color: #4fdb4f;
}
p.success.feedback{
    border: 1px dashed #4fdb4f;
}

a[href*="thenetninja"]{
    background-color: #4fdb4f;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a[href$=".com"]{
    color: white;
    background: red;
    border: 2px solid blue;
}